
.about_block{
    display: flex;
    justify-content: space-between;
}

.text_about{
    padding-right: 10px;
    width: 622px;
    color: var(--shade1, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 48px */
    margin-top: 57px;

}

.img_bg{
    width: 310px;
    height: 400px;
    border-radius: 24px;
    border: 0.753px solid #3B3B3B;
    background: #141414;
    z-index: 3;
    position: absolute;
    right: 100px;

}

.img_about{
    z-index: 4;
    width: 310px;
    height: 400px;
    border-radius: 24px;
    margin-right: 36px;
    margin-top: 31px;
}

.skills_block{
    margin-top: 80px;
}

.table{
    margin-top: 24px;
    display: flex;
}

.col{
    max-width: 280px; 
}
.row{
    float: left;
    height: 43px;
    max-width: 280px;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row_text{
    padding: 8px 8px 8px;
    color: var(--shade-2, #B3B3B3);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.row_img{
    padding-left: 8px;
    padding-top: 17px;
    padding-bottom: 17px;
}
