.main_container_styles{

    margin-left: 120px;
    margin-right: 120px;
    margin-top: 56px;
    max-width: 1200px;
    border-radius: 24px;
    border: 1px solid var(--shade-3, #3B3B3B);
    background: var(--shade-4, #121212);
    padding: 60px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.text_section{
    max-width: 386px;

}

.main_text_section{
    color: var(--shade1, #FFF);
}

.main_text_theme_section{
    margin-top: 24px;
    color: var(--shade1, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.main_desc_section{
    margin-top: 24px;
    color: var(--shade-2, #B3B3B3);;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 27px */
}

.main_img{
    width: 459px;
    height: 374px;
}

.main_button{
    border-radius: 8px;
    border: 1px solid var(--shade1, #FFF);
    max-width: 174px;
    height: 49px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-bottom: 0px;
    position: absolute;
    bottom: 60px;
    transition: all 1s;


}

.main_button:hover{
    background: var(--gradient-01, linear-gradient(90deg, #FFE074 0.85%, #50CAE4 52.93%, #9B5CFF 100.85%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.5s;
}

.main_button_text{
    color: var(--shade1, #FFF);
    /* label/md */
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 150% */
    padding: 8px 18px;

    
}


